@import "variebles";
@import 'animations';

.Form {
    width: 40%;
    margin: 30px auto;
    border: 1px solid black;
    border-radius: 15px;
    h1 {
        text-align: center;
        margin: 0;
    }
    &-invalid{
        font-size: 70%;
        flex-basis: 100%;
        text-align: center;
        color: $form-determinant;
    }
    form {
        display: flex;
        flex-wrap: wrap;
        font-size: 150%;
        margin-top: 20px;
        padding: 0 40px 20px;
        .Form-input-area{
            flex-basis: 100%;
            margin: 20px auto;
            display: flex;
            justify-content: space-between;
        }
        input {
            margin-bottom: 10px;
            border: none;
            border-bottom: 1px solid black;
            font-size: 80%;
            color: $form-color;
            padding: 10px;
            padding-bottom: 0;
            width: 60%;
            outline: none;
            background-color: transparent;
            &:focus{
                border-color: $form-determinant;
            }
        }
        button.Form-info {
            color: $form-color;
            border: none;
            font-size: 60%;
            cursor: pointer;
            background-color: transparent;
        }
        button.Form-submit {
            flex-basis: 20%;
            border: none;
            background-color: black;
            color: white;
            font-size: 80%;
            cursor: pointer;
            padding: 10px;
            border-radius: 7px;
            margin: 10px 10px 10px auto;
        }
        button.Form-submit:disabled {
            background: rgba(0, 0, 0, 0.5);
            cursor: auto;
            position: relative;
        }
        button.Form-submit:disabled:hover::after {
            position: absolute;
            display: inline;
            width: 100%;
            top: 30%;
            left: 110%;
            content: "E-mail or password is empty";
            background-color: rgba(255, 255, 255, 1);
            color: black;
            padding: 10px;
            border: 1px solid black;
            font-size: 80%;
            animation: fadeIn .4s;
        }
    }
}
